* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    color: #181616;
    font-family: 'Quicksand';
}

header h1, header li a, h2, h3, h4 {
    font-family: 'Montserrat';
    color: #C0A36E;
}

header h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

header li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
}

header li a:hover {
    color: #5e5133;
}

header li {
    display: inline;
    padding-left: 2.5rem;
}

.header-container {
    max-width: calc(100% - 12rem); /* calcula o maximo da tela e diminui por 192 pixels */
    margin: 1.5rem auto; /* aí acaba ficando bonito com isso :) */
    width: 100%;
}

.dark-mode {
    background-color: #201E1E;
    color: #F9F9F9;
}

#home {
    background-color: #181616;
}

.header-container, #about-me, #home, #projects, #contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-container, .container {
    max-width: 75rem;
    width: 100%;
    text-align: center;
}

.greeting-container {   
    margin: 0 27rem;
}

.greeting-container div p {
    color: #F9F9F9;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.greeting-container div h3, .greeting-container div p {
    font-size: 1.5em;
    font-weight: 400;
}

.greeting-container div h3 {
    margin-top: 7rem;
}

.greeting-container div h2 {
    font-size: 2.25rem;
    font-weight: 400;
}

svg {
    margin-bottom: 3rem;
}

.container {
    margin: 0 auto;
}

.container h2 {
    margin-top: 8rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.container h3 {
    color: #181616;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.left-content, .right-content {
    padding: 1.25rem;
}

.left-content {
    text-align: left;
}

.right-content .skill {
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    background-color: #181616;
    color: #C0A36E;
    text-align: center;
}

.projects-container {
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    background: #181616;
}

.project {
    padding-top: 2.5rem;
    width: 30%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.project p {
    color: #F9F9F9;
    width: (45ch, 50%, 75ch);
}

.project h3 {
    font-size: 1.125rem;
    color: #C0A36E;
}

.project img {
    width: 12rem;
    height: auto;
    border-radius: 0.3rem;
}

#contacts .container h3 {
    margin-top: 0;
}

#contacts .container input {
    height: 2rem;
    width: 20rem;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
}

#contacts .container textarea {
    height: 10rem;
    width: 28rem;
    resize: none;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
}

#contacts .container button {
    width: 16rem;
    height: 3rem;
    font-size: 1.5rem;
    background: #181816;
    color: #C0A36E;
    border: none;
    border-radius: 0.3rem;
}

#contacts .container img {
    width: 2.5rem;
    margin-left: 1rem;
}
